body {
  height: 100vh;
}

#loader {
  pointer-events: none; /* disable mouse from sensing loader */
  height: 100vh; /* expands loader to the size of the window */
  position: absolute; /* positions loader to the top*/
}

#preload {
  margin-top: 40vh; /* loader position */
}

#spinner {
  visibility: hidden; /* start loader hidden */
}

#blue {
  height: 100vh;
}

#orange {
  height: 40vh;
}

#green {
  height: 60vh;
}

#red {
  height: 25vh;
  -webkit-animation-delay: 1.5s;
}

#usern {
  height: 12.5vh;
  margin-left: 352px;
  padding-top: 30px;
}

#passw {
  height: 12.5vh;
  margin-left: 352px;
}

h1.post {
  font-weight: 100;
}
